# Getting the data

In [1]:
import numpy as np
import pandas as pd
import numpy_financial as npf

In [7]:
cash_flow = [-100, 10, 30, 40, 50, 60, 70, 80, 90, 100]

In [14]:
def irr(values):
	"""
	Returns the internal rate of return for a schedule of cash flows that is not necessarily periodic. 
	Args:
		- values: A series of cash flows that corresponds to a schedule of payments in dates.
	"""
	# There should be at least one positive and one negative cash flow.
	if not any(i < 0 for i in values):
		raise Exception("There should be at least one negative cash flow.")
	if not any(i > 0 for i in values):
		raise Exception("There should be at least one positive cash flow.")
	return np.round(npf.irr(values), 4)*100

In [15]:
irr(cash_flow)

36.39

In [19]:
import requests
import pandas as pd

search_data = pd.read_csv("data.csv")

In [21]:
zpids = search_data['zpid'].tolist()

In [23]:
zpids[1]

69670062

In [65]:
len(zpids)

40

In [ ]:
import time

print(time.time())
for i in range(10):
	print(i)
	print(time.time())
	if (i % 2 == 0) & (i != 0):
		print("sleep for 5 seconds")
		time.sleep(5)
		print(time.time())
		print("-"*50)
	else:
		print("no sleep")
		print(time.time())
		print("-"*50)

In [78]:
# The API processes 2 requests per second.
import time

df = pd.DataFrame()
for i, zpid in enumerate(zpids):
	if (i % 2 == 0) & (i != 0):
		time.sleep(5)
		url = "https://zillow-com1.p.rapidapi.com/property"

		querystring = {"zpid":f"{zpid}"}

		headers = {
			"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
			"X-RapidAPI-Key": "a271625fdbmsh9c07327c04cb02bp1314d1jsn9ac44145b089"
		}

		response = requests.request("GET", url, headers=headers, params=querystring)
		data_json = response.json()
		df0 = pd.json_normalize(data_json)
		df = pd.concat([df, df0], axis=0)
	else:
		url = "https://zillow-com1.p.rapidapi.com/property"

		querystring = {"zpid":f"{zpid}"}

		headers = {
			"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
			"X-RapidAPI-Key": "a271625fdbmsh9c07327c04cb02bp1314d1jsn9ac44145b089"
		}

		response = requests.request("GET", url, headers=headers, params=querystring)
		data_json = response.json()
		df0 = pd.json_normalize(data_json)
		df = pd.concat([df, df0], axis=0)

In [79]:
df.shape

(40, 262)

In [34]:
from datetime import datetime

datetime.strptime('2020-01-01', '%Y-%m-%d')

datetime.datetime(2020, 1, 1, 0, 0)

In [35]:
import json

user_assumptions = {}

user_assumptions['monthly_gross_rent'] = 1_500
user_assumptions['purchase_price'] = 300_000
user_assumptions['purchase_date'] = "2020-01-01"
user_assumptions['closing_costs'] = 3_000
user_assumptions['extra_cash_reserves'] = 5_000
user_assumptions['eqt_pct'] = 0.5
user_assumptions['amort_period'] = 30
user_assumptions['int_rate_on_debt'] = 0.05
user_assumptions['renovation_costs'] = 10_000
user_assumptions['renovation_period'] = 4
user_assumptions['exit_renovation_cost'] = 5_000
user_assumptions['length_hold'] = 7
user_assumptions['appr_rate'] = 0.02
user_assumptions['sales_price_at_exit'] = 400_000
user_assumptions['cost_of_sale'] = 0.06
user_assumptions['vacancy_rate'] = 0.0775
user_assumptions['rent_growth_rate'] = 0.01
user_assumptions['repairs'] = 0.01
user_assumptions['property_taxes'] = 3_000
user_assumptions['insurance'] = 500
user_assumptions['utilities'] = 40
user_assumptions['property_manager_fee'] = 0.01
user_assumptions['discount_rate'] = 0.05



fn = json.dumps(user_assumptions)
with open('../data/user_assumptions_test.json', 'w') as f:
    f.write(fn)

In [36]:
with open('../data/user_assumptions_test.json', 'r') as f:
    user_assumptions = json.load(f)
user_assumptions

{'monthly_gross_rent': 1500,
 'purchase_price': 300000,
 'purchase_date': '2020-01-01',
 'closing_costs': 3000,
 'extra_cash_reserves': 5000,
 'eqt_pct': 0.5,
 'amort_period': 30,
 'int_rate_on_debt': 0.05,
 'renovation_costs': 10000,
 'renovation_period': 4,
 'exit_renovation_cost': 5000,
 'length_hold': 7,
 'appr_rate': 0.02,
 'sales_price_at_exit': 400000,
 'cost_of_sale': 0.06,
 'vacancy_rate': 0.0775,
 'rent_growth_rate': 0.01,
 'repairs': 0.01,
 'property_taxes': 3000,
 'insurance': 500,
 'utilities': 40,
 'property_manager_fee': 0.01,
 'discount_rate': 0.05}

In [37]:
core_assumptions = {
    "Monthly Gross Rent ($/mo)": user_assumptions["monthly_gross_rent"],
    "Purchase Price ($)": user_assumptions["purchase_price"],
    "Purchase Date": datetime.strptime(user_assumptions["purchase_date"], '%Y-%m-%d'),
    "Closing Costs ($)": user_assumptions["closing_costs"],
    "Extra Cash Reserves ($)": user_assumptions["extra_cash_reserves"],
}

df = pd.DataFrame.from_dict(core_assumptions, orient='index')
df.head()

                                             0
Monthly Gross Rent ($/mo)                 1500
Purchase Price ($)                      300000
Purchase Date              2020-01-01 00:00:00
Closing Costs ($)                         3000
Extra Cash Reserves ($)                   5000

In [80]:
df.to_csv("prop_details.csv", index=False)

In [ ]:
url = "https://zillow-com1.p.rapidapi.com/property"

querystring = {"zpid":"69670062"}

headers = {
	"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com",
	"X-RapidAPI-Key": "a271625fdbmsh9c07327c04cb02bp1314d1jsn9ac44145b089"
}

response = requests.request("GET", url, headers=headers, params=querystring)

In [55]:
data_json = response.json()
df = pd.json_normalize(data_json)
df.columns

Index(['listingProvider', 'buildingPermits', 'propertyTaxRate',
       'contact_recipients', 'longitude', 'countyFIPS', 'cityId',
       'timeOnZillow', 'url', 'zestimate',
       ...
       'listed_by.zpro', 'listed_by.recent_sales', 'listed_by.review_count',
       'listed_by.display_name', 'listed_by.badge_type',
       'listed_by.business_name', 'listed_by.rating_average',
       'listed_by.phone', 'listed_by.zuid', 'listed_by.image_url'],
      dtype='object', length=256)

In [58]:
df['resoFacts.pricePerSquareFoot']

0    149
Name: resoFacts.pricePerSquareFoot, dtype: int64

In [59]:
df0 = df[['listingProvider', 'buildingPermits', 'propertyTaxRate']]
df0.head()

  listingProvider buildingPermits  propertyTaxRate
0            None            None             2.19

In [64]:
df2 = pd.DataFrame()
df1 = pd.concat((df0, df2), axis=0)
df1.head()

  listingProvider buildingPermits  propertyTaxRate
0            None            None             2.19

In [31]:
res = response.json()

In [52]:
print(res['propertyTaxRate'])
print(res['zestimate'])
print(res['rentZestimate'])
print(res['price'])
print(res['mortgageRates'])
print(res['monthlyHoaFee'])
print(res['resoFacts']['pricePerSquareFoot'])
print(res['annualHomeownersInsurance'])

2.19
236400
1599
189900
{'arm5Rate': 4.385, 'fifteenYearFixedRate': 4.087, 'thirtyYearFixedRate': 4.671}
None
149
798

In [33]:
res.keys()

dict_keys(['listingProvider', 'buildingPermits', 'propertyTaxRate', 'contact_recipients', 'solarPotential', 'longitude', 'countyFIPS', 'cityId', 'timeOnZillow', 'url', 'zestimate', 'imgSrc', 'zpid', 'zipcode', 'livingAreaValue', 'zestimateLowPercent', 'isListedByOwner', 'propertyTypeDimension', 'resoFacts', 'streetAddress', 'county', 'taxHistory', 'stateId', 'countyId', 'timeZone', 'homeType', 'livingAreaUnits', 'comingSoonOnMarketDate', 'livingArea', 'bathrooms', 'annualHomeownersInsurance', 'state', 'rentZestimate', 'building', 'brokerId', 'yearBuilt', 'brokerageName', 'dateSold', 'price', 'pageViewCount', 'description', 'mortgageRates', 'homeStatus', 'homeFacts', 'latitude', 'datePosted', 'bedrooms', 'nearbyHomes', 'monthlyHoaFee', 'priceHistory', 'favoriteCount', 'schools', 'zestimateHighPercent', 'mlsid', 'address', 'city', 'providerListingID', 'country', 'currency', 'listed_by', 'contingentListingType'])

In [35]:
import json

with open('prop_details.json', 'w') as json_file:
    json.dump(res, json_file)

# Calculators

In [101]:
# inputs
purchase_price = 1000000
rent = 1000
closing_costs = 0.01 * purchase_price
equity_pct = 0.2
loan_amt = purchase_price * (1 - equity_pct)
irate = 0.05  # interest rate
term = 30  # loan term in years

vac = 0.1  # vacancy rate
maint = 0.1  # maintenance cost as a percentage of rent
pmf = 0.1  # property management fee as a percentage of rent
txs = 0.1  # Annual tax rate
ins = 0.1  # Annual insurance rate

In [102]:
prop_lst = pd.read_csv("data.csv")
prop_details = pd.read_csv("prop_details.csv")

In [103]:
print(prop_details["price"].values[0])
print(prop_details["rentZestimate"].values[0])
print(prop_details["resoFacts.taxAnnualAmount"].values[0])
print(prop_details["annualHomeownersInsurance"].values[0])

399900
nan
528
1680

In [107]:
def get_mortgate_pmt(principal, irate, term):
    """
    Calculate the monthly mortgage payment from mortgage details
    """
    irate = irate/1200  # -> percentage rate / 12 since monthly payment
    return float(principal) * float((irate*(1+irate)**term) / (((1+irate)**term)-1))


def calc_expenses(rent, vac_rate, maint_rate, prop_mgmt_fees, taxes, insurance):
    """
    returns all non-mortgage payment expenses for a month 
    """
    return (rent * vac_rate) \
              + (rent * maint_rate) \
              + (rent * prop_mgmt_fees) \
              + (taxes / 12) \
              + (insurance / 12)


def calc_cash_flow(rent, vac_rate, maint_rate, prop_mgmt_fees, taxes, insurance, mgt_payment):
    """
    determines the monthly cash flow expected from the property
    """
    expenses = calc_expenses(rent, vac_rate, maint_rate, prop_mgmt_fees, taxes, insurance)
    return rent - expenses - mgt_payment


def calc_max_principal(rent, vac_rate, maint_rate, prop_mgmt_fees, taxes, insurance, \
                       irate, term, min_cf=100):
    """
    Calculate the maximum principal for the property to ensure that the cash flow >= min_cf
    """
    irate = irate/1200
    expenses = calc_expenses(rent, vac_rate, maint_rate, prop_mgmt_fees, taxes, insurance)
    qty = float((irate*(1+irate)**term) / (((1+irate)**term)-1))
    p = (-min_cf + rent - expenses) / qty
    return p/.8

In [40]:
if df.shape:
	print(df.shape)

(5, 1)

In [109]:
results = {
	"zpid": [],
	"Mortgage Payment" : [],
	"Total Payments": [],
	"Total Interest": [],
	"Cash Required": [],
	"Minimum Monthly Expenses": [],
	"Monthly Cash Flow": [],
	"Max Purhcase Price": [],
	"Annual Yield (CoC ROI)": [],
	"Cap Rate": []
}

In [110]:
for i, row in prop_details.iterrows():
	equity_pct = 0.2
	loan_amt = row["price"] * (1 - equity_pct)
	pmt = get_mortgate_pmt(row["price"], irate, term)
	results["zpid"].append(row["zpid"])
	results["Mortgage Payment"].append(round(pmt, 2))
	results["Total Payments"].append(round(pmt*term, 2))
	results["Total Interest"].append(round((pmt*term - loan_amt), 2))

	closing_costs = 0.01 * row["price"]
	upfront_cash = closing_costs + (row["price"] - loan_amt)
	results["Cash Required"].append(round(upfront_cash, 2))
	
	expenses = pmt + (row["resoFacts.taxAnnualAmount"]/12) + (row["annualHomeownersInsurance"]/12)      # exludes maintenance, prop. management, and vacancy
	results["Minimum Monthly Expenses"].append(round(expenses, 2))
	
	cf = calc_cash_flow(row["rentZestimate"], vac, maint, pmf, 
		row["resoFacts.taxAnnualAmount"], row["annualHomeownersInsurance"], pmt)
	results["Monthly Cash Flow"].append(round(cf, 2))

	max_purchase = calc_max_principal(row["rentZestimate"], vac, maint, pmf, 
		row["resoFacts.taxAnnualAmount"], row["annualHomeownersInsurance"], irate, term)
	results["Max Purhcase Price"].append(round(max_purchase, 2))

	cap_rate = ((cf+pmt)*12)/row["price"] ## cap rate = what if we bought the property with cash?
	results["Annual Yield (CoC ROI)"].append(round(((12*cf)/upfront_cash)*100, 2))
	results["Cap Rate"].append(round(cap_rate*100, 2))

In [111]:
output = pd.DataFrame.from_dict(results)
output.head()

,zpid,Mortgage Payment,Total Payments,Total Interest,Cash Required,Minimum Monthly Expenses,Monthly Cash Flow,Max Purhcase Price,Annual Yield (CoC ROI),Cap Rate
0,2067752269,13338.61,400158.32,80238.32,83979.0,13522.61,NaN,NaN,NaN,NaN
1,69670062,6334.09,190022.67,38102.67,39879.0,6772.67,-5653.37,21762.82,-170.12,4.30
2,26824177,12007.42,360222.54,72230.54,75597.9,12232.33,-11186.53,27015.67,-177.57,2.74
3,26799759,9339.36,280180.87,56180.87,58800.0,9807.36,-8583.06,24595.36,-175.16,3.24
4,26776999,7504.84,225145.34,45145.34,47250.0,7829.84,-6499.84,33915.59,-165.08,5.36

In [105]:
# for i, row in prop_details.iterrows():
# 	zpid = row['zpid']
# 	price = row['price']
# 	rent_zestimate = row['rentZestimate']
# 	tax_annual_amount = row['resoFacts.taxAnnualAmount']
# 	annual_homeowners_insurance = row['annualHomeownersInsurance']

# 	results['zpid'].append(zpid)
# 	results['Max Purhcase Price'].append(price)

# 	# Mortgage Payment
# 	pmt = loan_amt * (irate / (1 - (1 + irate)**(-term)))
# 	results['Mortgage Payment'].append(pmt)

# 	# Total Payments
# 	total_payments = pmt + closing_costs
# 	results['Total Payments'].append(total_payments)

# 	# Total Interest
# 	total_interest = loan_amt * irate * term
# 	results['Total Interest'].append(total_interest)

# 	# Cash Required
# 	cash_required = loan_amt + total_interest
# 	results['Cash Required'].append(cash_required)

# 	# Minimum Monthly Expenses
# 	min_monthly_expenses = rent + pmf + maint + txs + ins
# 	results['Minimum Monthly Expenses'].append(min_monthly_expenses)

# 	# Monthly Cash Flow
# 	monthly_cash_flow = (rent - min_monthly_expenses) / (1 - (vac / 12))
# 	results['Monthly Cash Flow'].append(monthly_cash_flow)

# 	# Annual Yield (CoC ROI)
# 	annual_yield = (monthly_cash_flow / price) * 12
# 	results['Annual Yield (CoC ROI)'].append(annual_yield)

# 	# Cap Rate
# 	cap_rate = (price - cash_required) / price
# 	results['Cap Rate'].append(cap_rate)

In [106]:
output = pd.DataFrame.from_dict(results)
output.head()

,zpid,Mortgage Payment,Total Payments,Total Interest,Cash Required,Minimum Monthly Expenses,Monthly Cash Flow,Max Purhcase Price,Annual Yield (CoC ROI),Cap Rate
0,2067752269,52041.148064,62041.148064,1200000.0,2000000.0,1000.4,-0.403361,399900,-0.000012,-4.001250
1,69670062,52041.148064,62041.148064,1200000.0,2000000.0,1000.4,-0.403361,189900,-0.000025,-9.531859
2,26824177,52041.148064,62041.148064,1200000.0,2000000.0,1000.4,-0.403361,359990,-0.000013,-4.555710
3,26799759,52041.148064,62041.148064,1200000.0,2000000.0,1000.4,-0.403361,280000,-0.000017,-6.142857
4,26776999,52041.148064,62041.148064,1200000.0,2000000.0,1000.4,-0.403361,225000,-0.000022,-7.888889

In [112]:
output.to_csv('output.csv')

In [1]:
import pandas as pd

In [2]:
core_assumptions = {
	"Monthly Gross Rent ($/mo)": 1500,
	"Purchase Price ($)": 1000000,
	"Purchase Date": "2019-01-01",
	"Closing Costs ($)": 2000,
	"Extra Cash Reserves ($)": 2500,
}

In [4]:
pd.DataFrame.from_dict(core_assumptions, orient='index')

                                    0
Monthly Gross Rent ($/mo)        1500
Purchase Price ($)            1000000
Purchase Date              2019-01-01
Closing Costs ($)                2000
Extra Cash Reserves ($)          2500